@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Montserrat', sans-serif, Avenir, Helvetica, Arial;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-0: #f9fafb;
  --color-1: #f3f4f6;
  --color-2: #e5e7eb;
  --color-3: #d1d5db;
  --color-4: #9ca3af;
  --color-5: #6b7280;
  --color-6: #4b5563;
  --color-7: #374151;
  --color-8: #1f2937;
  --color-9: #111827;

  overflow: hidden;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
